<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/feed.css">

</head>
<body>
    <div class="container">
        <% posts.forEach(post=>{ %>
            <div class="image-container">
                <img src="/images/uploads/<%=post.image%>" alt="Profile Image" />
                <p class="image-caption"><%=post.imageText%></p>
              </div>
        <%})%>
      </div>
</body>
</html>