<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pinorama Registration</title>
  <link rel="stylesheet" href="/stylesheets/index.css">
  <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
</head>
<body>
  <div class="container">
    <div class="content">
      <img src="/images/pinorama.png" alt="pin logo" class="img1" />
      <p class="header">Sign up to join</p>
      <form id="registrationForm" action="/register" method="post">
        <input type="email" name="email" placeholder="Email" class="detail" /><br />
        <input type="text" name="username" placeholder="Username" class="detail" /><br />
        <input type="text" name="fullname" placeholder="Full Name" class="detail" /><br />
        <input type="password" name="password" placeholder="Password" class="detail" /><br />
        <button type="submit" class="btn int">Sign up</button>
      </form>
  
      <footer>
        <p>
          By continuing, you agree to Pinorama's
          <b>Terms of Service, Privacy policy.</b>
        </p>
        <hr />
        <p>Already on Pinorama? <a href="/login">Log in</a></p>
      </footer>
    </div>
  </div>
  
</body>
</html>
